@import url('https://fonts.googleapis.com/css2?family=Itim&family=Work+Sans:ital,wght@0,400;0,700;1,500&display=swap');

/* Css variables */
:root {
  --primary-color1: yellow;
  --primary-color2: gold;
  --primary-color3: blueviolet;
  --color-darK: #000;
  --color-grey: grey;
  --color-light: #fff;
  --letter-spacing1: 1px;
  --letter-spacing2: 2px;
}
/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--color-light); */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  color: #fff;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  background: #000;
}
input,
textarea {
  font-family: 'Work Sans', sans-serif;
}
img {
  width: 100%;
  display: inline-block;
}
.section {
  padding: 3rem 5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
  letter-spacing: var(--letter-spacing1);
}
li {
  list-style: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
hr {
  border-top: 10px dashed var(--color-light);
  border-bottom: none;
  width: 10rem;
  margin: 1rem auto;
}
.section-title {
  color: var(--primary-color1);
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 2rem;
}
.fab {
  color: orangered;
  margin-right: 1rem;
}
.fab:hover {
  box-shadow: 1px 5px 5px;
}
.fa-facebook {
  color: cornflowerblue;
}
.fa-patreon {
  color: var(--color-darK);
}
/*==================
 HEADER SECTION
==================== */
header {
  height: 100vh;
  width: 100vw;
}
/* ================
    NAVBAR CSS
   =================*/
.navbar {
  height: 4rem;
  background: var(--primary-color3);
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}
.logo {
  font-size: 2rem;
  color: var(--primary-color1);
  border: 4px solid var(--primary-color1);
  padding: 0.5rem 1rem;
  border-radius: 1rem 0 1rem 0;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.nav-links a {
  color: var(--primary-color1);
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  overflow-x: hidden;
}
.nav-links a:before {
  position: absolute;
  content: '';
  background: var(--primary-color1);
  width: 100%;
  height: 2px;
  left: -100%;
  bottom: 0;
  transition: 0.3s;
}
.nav-links a:hover:before {
  left: 0;
}

.btn-container {
  display: none;
}
/* ==========
navbar responsive
=============== */
@media (max-width: 900px) {
  header {
    height: auto;
  }
  .navbar {
    position: relative;
  }
  .nav-links {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: var(--primary-color3);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .active .nav-links {
    opacity: 1;
    transform: translateX(0%);
  }
  .btn-container {
    display: block;
    z-index: 999;
  }
  .nav-btn i {
    font-size: 2rem;
    color: var(--primary-color1);
  }
  .close-btn {
    display: none;
  }
  .close-btn i {
    color: red;
  }
  .close-btn i:hover {
    color: brown;
  }

  .active .close-btn {
    display: block;
  }
  .active .bars-btn {
    display: none;
  }
}
/* ==========================
HERO CSS
============================= */
.hero {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 4rem 10%;
}
/* hero-left */

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
}
.hero-left h3 {
  margin-bottom: 1.5rem;
  color: #fff;
}
.hero-left h3 span {
  color: var(--primary-color2);
}
.hero-left p {
  letter-spacing: var(--letter-spacing1);
  line-height: 1.5rem;
  color: var(--color-light);
}
.hero-icons {
  display: flex;
  left: 50%;
  bottom: 0;
  gap: 1rem;
  padding-top: 5rem;
}
.hero-icons i {
  font-size: 1.5rem;
  /* border: 2px solid yellow; */
  padding: 5px;
  background: var(--color-light);
  border-radius: 5px;
}

/* hero-right */
.hero-right {
  width: 50%;
}
.hero-img-container {
  width: 90%;
  max-width: 20rem;
  margin: 0 auto;
  position: relative;
  border-radius: 0.5rem;
  position: relative;
}
.hero-img {
  border-radius: inherit;
}

.hero-img-container:before {
  position: absolute;
  content: '';
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color1);
  border-radius: 0.5rem;
  z-index: -1;
}

/* ==================
hero responsive
===================== */
@media screen and (max-width: 900px) {
  .hero {
    display: block;
  }
  .hero-left,
  .hero-right {
    width: 100%;
    height: auto;
  }
}
.hero-right {
  padding-top: 5rem;
}

/* END OF HERO CSS */

/* ==========================
SKILLS SECTION CSS
============================= */

.skills h3 {
  text-align: center;
}
.single-skill {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  /* text-align: center; */
}
.single-skill h5 {
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.skill-bar {
  margin: 0 auto;
  height: 1.5rem;
  background: #c5c5c5;
  border-radius: 1rem;
}
.skill-bar div {
  width: 0%;
  height: 100%;
  color: #fff;
  background: blueviolet;
  background: linear-gradient(45deg, #8614ce, #ff0057);
  border-radius: inherit;
  text-align: right;
  /* animation: html 0.5s forwards; */
}
.html div {
  animation: html 1s forwards;
}
.css div {
  animation: css 1s forwards;
}
.javascript div {
  animation: javascript 1s forwards;
}
.react div {
  animation: react 1s forwards;
}
@keyframes html {
  100% {
    width: 80%;
  }
}
@keyframes css {
  100% {
    width: 85%;
  }
}
@keyframes javascript {
  100% {
    width: 65%;
  }
}
@keyframes react {
  100% {
    width: 60%;
  }
}
.skill-bar div p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #fff;

  text-align: end;
}

/* END OF SKILL SECTION CSS */

/* ====================
GALLERY SECTION CSS
======================= */
.images-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 600px) {
  .images-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .images-container {
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 500px; */
    grid-template-columns: repeat(4, 1fr);
  }
}
.images-container img {
  height: 100%;
  border-radius: 10px;
  border: 2px solid #fff;
  object-fit: cover;
  object-position: 25% 25%;
}

/* END OF GALLERY CSS */

/*============================
 CONTACT US
 ============================= */
/* .contact-us {
  background: pink;
} */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-info {
  padding: 0 1rem;
}

.contact-info p {
  margin-bottom: 2rem;
}
.connect {
  padding: 1rem;
  background: var(--color-light);
  /* width: 80%; */
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
}
.connect h4 {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: crimson;
}
.connect p {
  color: black;
  margin-bottom: 1rem;
}

form {
  text-align: center;
  padding: 0 1rem;
}
form .input {
  display: block;
  margin: 0 auto 1rem;
  border-radius: 0.5rem;
  width: 90%;
  height: 2rem;
}
::placeholder {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form .textarea {
  height: 7rem;
}
.form-btn {
  cursor: pointer;
  text-transform: uppercase;
  width: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(45deg, #8614ce, #ff0057);
  color: var(--color-light);
  border: 2px solid #fff;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  height: 2rem;
  transition: 0.5s;
}
.form-btn:hover {
  background: linear-gradient(-45deg, #8614ce, #ff0057);
  color: var(--color-light);
}
@media screen and (max-width: 650px) {
  .contact-container {
    display: block;
  }
  form {
    margin-top: 3rem;
  }
}

/* end of contact css */
/* =====================
    FOOTER CSS
   ====================== */
footer {
  background: var(--primary-color3);
  padding: 1rem 1rem;
}
footer p {
  letter-spacing: 1px;
  text-align: center;
}
